// media queries
$cinema-up: 'only screen and (min-width: 1600px)';
$xl-up: 'only screen and (min-width: 1300px)';
$large-up: 'only screen and (min-width: 1151px)';
$medium-up: 'only screen and (min-width: 768px)';
$small: 'only screen and (max-width: 767px)';
